{% extends 'master' %}

{% block content %}
<div class="page-header">

  {% if old('errors') %}
  <div class="alert alert-danger">
    <ul>
      {% for error in old('errors') %}
        <li>{{ error.message }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <form method="post" action="/category/{{ cat.id }}" data-toggle="validator">
    {{ csrfField }}
    <div class="form-group">
    <h1><input name="name" type="text" value="{{ cat.name }}" style="padding: 5px" required></h1>
    <div class="help-block with-errors"></div>
    </div>
    <div class="btn-group" role="group" aria-label="...">
        <button type="submit" class="btn btn-success">Mehet</button>
    </div>
    
  </form>
    
  <form action="/category/{{ cat.id }}/delete" method="POST" id="deletebutton">
    {{ csrfField }}
    <button type="submit" class="btn btn-danger">Delete category</a>
  </form>
</div>

{% endblock %}