{% extends 'master' %}

{% block content %}
<div class="page-header">

  {% if old('errors') %}
  <div class="alert alert-danger">
    <ul>
      {% for error in old('errors') %}
        <li>{{ error.message }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

    <div class="list-group">
        <a href="#" class="list-group-item active">
            All categories (click to edit):
        </a>
        
        {% for cat in categories %}
            <a href="/category/{{ cat.id }}" class="list-group-item">{{ cat.name }}</a>
        {% endfor %}
    </div>
    <div class="btn-group" role="group" aria-label="...">
        <a href="/category/create"><button type="button" class="btn btn-default">Add new category</button></a>
    </div>
</div>

{% endblock %}